body{
    background-color: #f7f8f3;
    font-family:  "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin: 0px;
    background-color: #8A8AEF;
        
}

.logo a {
    text-decoration: none;
    color: #090934;
    font-weight: 800;
    font-size: 40px;
}

.botoes a {
    margin: 30px;
    text-decoration: none;
    color: #090934;
    font-weight: 600;
    font-size: 25px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #090934;
    padding: 10px;
}

.logo__footer {
    padding: 10px;
    padding-left: 30px;
}

.logo__footer a {
    text-decoration: none;
    color: #8A8AEF;
    font-weight: 600;
    padding: 10px;
    font-size: 15px;

}

.insta {
    padding: 10px;
    padding-right: 30px;
}

.insta a{
    text-decoration: none;
    color: #8A8AEF;
    font-weight: 600;
    font-size: 15px;
}
